# Ignore all object and binary files
*.o
*.out
*.exe

# Ignore dependency and build folders
/build/
/bin/
/obj/

#excutables specifics without extensions
server
client

#design and documentation files
system-design.md
breakdown.md
todo.md
useful-commands.md

